*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav-bar{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height:60px;
    /* box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); */
    box-shadow: 0 10px 13px 0 rgba(0, 0, 0, 0.332);
    background-color: #59677f;
    color:white;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width:50%;
    list-style: none;
    color:white;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#city-search{
    display: flex;
}

#city-search-btn{
    display: inline-block;
    margin-left: 10px;
}



.appname,.applogo,.menu{
    cursor: pointer;
}
.menu-listings,.menu-openhouse,.menu-agent,.menu-member,.menu-agent-office{
    text-decoration: none;
    color:white;
}

.menu-listings:hover{
    height: 2px;
    width:50px;
    color: #47d5eb;
}

.applogo{
    height:50px;
    width: 50px;
    border-radius: 50px;
    border:1px solid white;
    padding:5px;
    background-color: #59677f;
    margin-left:-80px;
}

#heading-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* h1{
    display: inline-block;
    text-align: center;
    margin: 5%;
    border: #000000 solid;
    border-radius: 10px;
    padding: 20px;
}

#filter-container{
    display: flex;
    justify-content: center;
}
#city-search{
    font-size: large;
}
#city-search-btn{
    font-size: large;
}
#result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 2px;
    margin: 5%;
    padding: 10%;
    border-radius: 10px;
}
#result-container p{
    font-size: 20px;
}

.listing-image{
    display: flex;
    justify-content: end;
} */
/* img{
    width: 500px;
    height: 500px;
} */

#result-container {
    display: flex;
  }
  
  @media (max-width: 640px) {
    #result-container {
      flex-direction: column;
    }
  }



